.App {
  text-align: center;
}

.flex-container {
  display:flex;
}

.left-container {
  flex:0 1 75%;
  height:100vh;
}

.right-container {
  flex:0 1 25%;
  height:100vh;
  margin-left: 10px;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
}